<class>
<keyword>class</keyword>
<identifier>mio</identifier>
<symbol>{</symbol>
<classVerDec>
<keyword>static</keyword>
<keyword>int</keyword>
<identifier>test</identifier>
<symbol>,</symbol>
<identifier>test1</identifier>
<symbol>;</symbol>
</classVerDec>
<classVerDec>
<keyword>field</keyword>
<keyword>char</keyword>
<identifier>chartest</identifier>
<symbol>;</symbol>
</classVerDec>
<subroutineDec>
<keyword>constructor</keyword>
<keyword>int</keyword>
<identifier>mio</identifier>
<symbol>(</symbol>
<parameterList>
<keyword>int</keyword>
<identifier>i</identifier>
<symbol>,</symbol>
<keyword>char</keyword>
<identifier>i</identifier>
<symbol>,</symbol>
<keyword>void</keyword>
<identifier>*s</identifier>
</parameterList>
<symbol>)</symbol>
<subroutineBody>
<symbol>{</symbol>
<varDec>
<keyword>var</keyword>
<keyword>char</keyword>
<identifier>mio</identifier>
<symbol>,</symbol>
<identifier>test</identifier>
<symbol>;</symbol>
</varDec>
<varDec>
<keyword>var</keyword>
<keyword>int</keyword>
<identifier>inttest</identifier>
<symbol>,</symbol>
<identifier>inttest2</identifier>
<symbol>;</symbol>
</varDec>
<symbol>}</symbol>
<subroutineBody>
</subroutineDec>
<symbol>}</symbol>
</class>
