<class>
<keyword>class</keyword>
<identifier></identifier>
<symbol>{</symbol>
<classVerDec>
<keyword>static</keyword>
<type>int</type>
<identifier>test</identifier>
<symbol>,</symbol>
<identifier>test1</identifier>
<symbol>;</symbol>
<keyword>field</keyword>
<type>char</type>
<identifier>chartest</identifier>
<symbol>;</symbol>
</classVerDec>
<symbol>}</symbol>
</class>
