<class>
<keyword>class</keyword>
<identifier>mio</identifier>
<symbol>{</symbol>
<classVerDec>
<keyword>static</keyword>
<keyword>int</keyword>
<identifier>test</identifier>
<symbol>,</symbol>
<identifier>test1</identifier>
<symbol>;</symbol>
</classVerDec>
<classVerDec>
<keyword>field</keyword>
<keyword>char</keyword>
<identifier>chartest</identifier>
<symbol>;</symbol>
</classVerDec>
<subroutineDec>
<keyword>constructor</keyword>
<keyword>int</keyword>
<identifier>mio</identifier>
</subroutineDec>
<symbol>}</symbol>
</class>
